.home {
    position: relative;


    background-color: rgba(207, 207, 207, 0.06);
    display: grid;

    justify-items: center;
    //align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e]
}

.header {
    align-self: center;
    h1 {
        z-index: -11;
    }

    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 16%);
        clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 16%);
        z-index: -10;
        top: 0;
        left: 0;
        height: 110vh;
        width: 100vw;
        position: fixed;
        background-color: #444444
    }

    &__border {
        -webkit-clip-path: polygon(0 15%, 100% 54%, 100% 55%, 0 16%);
        clip-path: polygon(0 15%, 100% 54%, 100% 55%, 0 16%);
        z-index: -10;
        top: 0;
        left: 0;
        height: 110vh;
        width: 100vw;
        position: fixed;
        background-color: #00AB79;
    }
}



.card {
    min-height: 736px;
    max-hieght: 994px;
    width: 1240;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
    border-radius: 7px;
    
    display: grid;
    grid-template-rows: 1fr 50px;

    &__inputs {
        background-color: skyblue;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
        align-items: center;
    }
}

.inputs {
    display: grid;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    &__title {
        grid-columns: input-s/input-e;
    }
    input {
        grid-column: input-s/input-e;
    }

    &__number {
        grid-column: number-s/number-e;
    }
}