@mixin button {
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: white;
    font-family: 'Abel';
    font-size: 22px;
    text-align: center;
}

.gray {
    background: #B3B3B3
}

.red {
    background: #e02c44;
}


.home {
    position: relative;


    background-color: rgba(207, 207, 207, 0.06);
    display: grid;

    justify-items: center;
    //align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e]
}

.header {
    font-family: 'Abel', sans-serif;
    color: white;
    text-align:center;
    align-self: center;
    h1 {
        z-index: -11;
    }

    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 16%);
        clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 16%);
        z-index: -10;
        top: 0;
        left: 0;
        height: 110vh;
        width: 100vw;
        position: fixed;
        background-color: #232323;
    }

    &__border {
        -webkit-clip-path: polygon(0 15%, 100% 54%, 100% 55%, 0 16%);
        clip-path: polygon(0 15%, 100% 54%, 100% 55%, 0 16%);
        z-index: -10;
        top: 0;
        left: 0;
        height: 110vh;
        width: 100vw;
        position: fixed;
        background-color: #e02c44;
    }

    h1 {
        font-size: 36px;
        font-weight:500;
        line-height: 44px;
    }

    p {
        color: rgba(255,255,255,0.75);
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        width: 350px;
    }
}



.card {
    min-height: 736px;
    max-hieght: 994px;
    width: 1100px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
    border-radius: 7px;
    
    display: grid;
    grid-template-rows: 1fr 50px;
    background-color: white;

    &__inputs {
        display: grid;
        grid-template-rows: repeat(4, 27px);
        grid-template-columns: repeat(4, 1fr);
        
        grid-row-gap: 135px;
        
        margin: 66px 20px 0 20px;
        
        justify-items: center;
        align-items: center;
    }
    
    button:focus {
        outline: none;
    }

    button {
        justify-self: center;
        transform: translateY(50%);
    }

    &__generate {
        background-color: #e02c44;
        @include button;
    }

    &__clear {
        background-color: #2c44df;
        @include button;
    }

    &__content {
        width: 1100px;
        height: 297px;
        background-color: #f2f2f2;

        justify-self: center;
        margin-bottom: 84px;

        p {
            padding: 50px 47px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
            line-height: 29px;
        }
    }
}

.input {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    
    text-align: center;
    grid-column-gap: 8px;

    height: 47px;

    &__title {
        grid-column: input-s/input-e;
        text-align: center;
        grid-column-gap: 8px;

        
        color: #B3B3B3;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;

    }
    input {
        grid-column: input-s/input-e;

        border: none;
        font-size: 15px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding: 4px 0;
        border-bottom: 1px solid #B3B3B3;
        transition: all .6s ease;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid #e27882;
        }

        // width: 190px;
        // height: 40px;
    }
    &__number {
        grid-column: number-s/number-e;
        font-family: 'Abel', sans-serif;
        color: white;
        font-size: 20px;
        line-height: 24px;
        padding-top: 1px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
    }
}